.container{
    max-width: 66.4989378333em;
    padding: 0 2.617924em;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    
    .app-page-wrapper{
        .links-images-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }
}
