.customers-form-container {
    align-items: flex-start; 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $gris_claro;

    .left-side-wrapper {
        flex: 1;
        margin-right: 20px;

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: $verde_oscuro;
        }

        .customers-data-wrapper {
            form {
                display: flex;
                flex-direction: column;

                .form-data-row {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px; 

                    .name-field, .surname-field {
                        flex: 1;
                        display: flex;
                        flex-direction: column; 
                        
                        label {
                            font-weight: bold;
                            margin-bottom: 5px;
                            color: $gris;
                            
                        }
                        input {
                            padding: 10px;
                            border: 1px solid $verde_oscuro;
                            border-radius: 4px;
                            font-size: 16px;
                            color: $gris;

                            &:focus {
                                border-color: $verde_oscuro;
                                outline: none;
                            }
                        }
                    }
                }

                .form-data {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column; 
                    label {
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: $gris;
                    }

                    input, select {
                        padding: 10px;
                        border: 1px solid $verde_oscuro;
                        border-radius: 4px;
                        font-size: 16px;
                        color: $gris;

                        &:focus {
                            border-color: $verde_claro;
                            outline: none;
                        }
                    }
                }

                .btn-customers-form {
                    button {
                        background-color: #0f1b27;
                        border-color: #0f1b27;
                        color:$gris_claro;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 50px;
                        cursor: pointer;
                        font-size: 16px;
                        width: 100%;
                        margin-top: 20px;   
                    }
                }
            }
        }
    }

    .right-side-wrapper {
        flex: 1; 
        border-radius: 8px; 
    
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color:$verde_oscuro; 
        }
    
        table {
            width: 100%;
            border-collapse: collapse; 
            margin-bottom: 20px;
    
            th, td {
                padding: 10px; 
                text-align: left; 
                color: $gris;

            }
            td {
                font-size: 0.80em;
            }
    
            th {
                background-color: $verde_claro;
            }
        }
        .totals-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
       
            h2 {
                font-size: 16px;
                color: $gris; 
                margin-top: 20px; 
            }
            span{
                color: $gris;
                font-size: 10px;
            }
        }
        .pay-wrapper{
            .creditcard-pay, .transfer-pay{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 25px;
            }
        }
        h2 {
            font-size: 16px;
            color: $verde_oscuro; 
            margin-top: 20px; 
            
        }
        label{
            font-size: 0.80em;
            color: $gris;
        }
        .privacity-wrapper{
            margin-top: 55px;
            p{
                font-size: 16px;
                color: $gris;
            }
        }
        
    }
}

@media (max-width:468px){
    .customers-form-container {
        flex-direction: column;
        .left-side-wrapper .customers-data-wrapper form .form-data-row {
            flex-direction: column;
        }

    }
}