.nav-container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px 0; 
    align-items: center; 
    border-bottom: 1px solid $verde_oscuro; 

   
    .up-nav-left-wrapper {
        display: flex;  
        align-items: center;  
        width: 100px; 
        height: 100px;

        h1 {
            font-size: 24px; 
            color: #4A4A4A; 
            width: 150px;  
            height: 150px;
        }

        img {
            width: 100%;
            height: auto;
        } 

        .active {
            text-decoration: none; 
        }
    }

    .up-nav-right-wrapper {
        display: flex;
        justify-content: flex-end;  
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 30px;

        .up-nav-link-side {
            margin-left: 20px; 
        }

        .up-nav-link-side a {
            text-decoration: none; 
            color: $gris; 
        }
    }
}


.nav-container .active {
    color: #9BC5A4; 
    font-weight: bold; 
}

@media (max-width: 767px){
    .nav-container {
        display: flex;
        align-items: flex-start;
    
        .up-nav-right-wrapper {
            flex-direction: column;
            gap: 15px;
            align-items: end;
        }
    }
}
