.nav-container{
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    align-items: center; 
    padding: 10px 0; 
    border-bottom: 1px solid $verde_oscuro; 

    .up-nav-left-wrapper h1{
        font-size: 24px; 
        color: #4A4A4A; 
        width: 150px;
        height: 150px;

        
    }
    .up-nav-left-wrapper{
        width: 100px;
        height: 100px;

        img{
            width: 100%;
            height: auto;
        } 
    }

    .up-nav-left-wrapper .active{
        text-decoration: none;
    }
    .up-nav-right-wrapper{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 30px;


        .up-nav-link-side{
            margin-left: 20px; 
        }

        .up-nav-link-side a {
            text-decoration: none; 
            color: $gris; 
        }
    }
}
.nav-container .active {
    color: #9BC5A4; 
    font-weight: bold; 
    //border-bottom: 2px solid #9BC5A4; 
}