.services-container {
    padding: 20px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px; 
    margin-top: 10px;
}

h1, h2, h3 {
    color: $gris;
    margin-bottom: 20px;
    font-size: 1em;
}

p {
    line-height: 1.5;
    color: $gris;
    margin-bottom: 20px;
    font-size: 0.85em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
    color: $gris;
    font-size: 0.85em;
}

ul li {
    margin-bottom: 10px;
}

strong {
    color: $gris;
}

.contact-wrapper {
    text-align: center;
    margin-top: 30px;
}

.contact-link {
    color: $verde_oscuro;
    font-weight: bold;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}
