$background: #C6EBC3; //fondo
$button: #7FBFA0; //botones y bordes
$text: #60A77B;//para texto y elementos destacados
$color: #7FBFA0;
$gris_claro: #F9F9F9; 
$grey: #6d6d6d;

$gris_antracita: #2E2E2E;
//$verde_oliva: #B3D4E0;
$verde_claro:#C6EBC3;
$verde_oscuro:#9BC5A4;
$gris:#6d6d6d;

